/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

#left {
  width: 33.3%;
  float: left;
  color: white;
  background: #30948D
}

#middle {
  width: 33.3%;
  float: left;
  color: white;
  background: #9E1212;
}

#right {
  width: 33.3%;
  float: left;
  color: white;
  background: #30948D;
}
  

#full {
  border: 15px;
  color: white;
  background: #333;
  clear: both;
  overflow: auto;
}

#division {
  padding: 20px;
  background: #6ea3da;
  margin-top: 20px;
}

aside {
  float: left;
  background: #a6b747;
  width: 33%;
  height: 200px;
  border: 1px solid #eee;
  padding: 20px;
  margin-left: 30px;
}

footer {
  clear: both;
  padding: 20px;
  margin-top: 20px;
  color: #333;
  background: #FFA500;
}
